
.back {
    background: #ebebeb;
    
}

.container {    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; 
    max-width: 1300px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    background: #e5e19b;    
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-between;    
}

.text {
    text-align: left;    
}

.containerText {
    border-style: solid;
    background-color: #e7e6cb ;
    border-color: black;
    border-radius: 10px;
    padding: 12px;
    margin-left: 200px;
    margin-right: 200px;

}

.title {
    padding-top: 10px;
}

.imageContainer {
    margin-left: 0px;
    display: inline-block;    
    
}

.image {
    border-radius: 8px;
    width: 400px;
    height: 300px; 
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
}

.containerLink {
    padding-bottom: 10px;
}

.dietsContainer {
    border-radius: 8px;
    max-height: 90px; 
    width: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    background: #eceac7;
}

.dietsTitle {
    margin-bottom: 5px;
}

.diets {
    margin: 10px;
}

.buttonContainer {
    display: inline-block;
}