.cards {
    display: flex;
    flex-direction: column;    
    margin-left: 20px;
    margin-bottom: 20px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    background: #e7e295;
    
  }

  .cards:hover {
    
  }

  .cardcontainer {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      height:100%;     
      padding-top: 20px;
      min-width: 40%;     
      padding-bottom: 50px;
      align-content: space-between 
  }

  .link {    
    border-radius: 2px;
    background-color: #e7e6cb;
    color: rgb(0, 75, 173);    
    font-size: 15px; 
   
  }

  .button:hover {
    background-color: #d6671d; 
    color: white;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
  }

  .title {
      height: 30px;
      width: 400px;      
  }

  .h2 {
      padding-bottom: 20px;
  }

  .diets {
    display: flex;
    flex-direction: column;
    max-height: 90px;
    overflow-y: auto;
    overflow-x: hidden;    
    background: #eceac7;  
  }

  .image {
      width: 300px;      
      margin-right: 20px;
      max-width: 100%;
      height: auto;
      
  }

  .pic {
    border-radius: 8px;
    width: 280px;
    height: 200px;    
  }

  .dietsul {   
      width: 100px;
  } 

  .listdiet{      
      height: 20px;      
      width: 100px;
  }

  .prueba {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 300px;      
  }

  .buttonPrev {
    margin-top: 20px;
    border-radius: 2px;
    background-color: white;
    color: black;
    border: 2px solid #d6671d;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    transition-duration: 0.4s;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px; 
  }

  .buttonNext {
    border-radius: 2px;
    background-color: white;
    color: black;
    border: 2px solid #d6671d;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    transition-duration: 0.4s;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px; 
  }

  .buttonNext:hover {
    background-color: #d6671d;
    color: white;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
  }

  .buttonPrev:hover {
    background-color: #d6671d;
    color: white;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);  
  }