.navbar {
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #aad5d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: sticky;
}

.navbar nav {
    height: 100%;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
}

.listItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.listItem a {
    color: rgb(0, 0, 0);
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
}

.listItem a:hover,
.listItem a.active {
    background-color: #D6671D;
    color: white;
}


